.main-bg{
  background-image: url(../img/background-main.svg);
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg{
  background-color: var(--white-color);
  color: var(--font-color);
}

.light-gray-bg{
  background-color: var(--light-gray-color);
  color: var(--font-color);
}

.blue-bg{
  background-color: var(--secundary-color);
  color: var(--white-color);
}

.primary-bg{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.main-content{
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section{
  min-height: 100vh;
}

.menu-spacing{
  height: 6.5rem;
}